<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<p><a href="https://www.esu22.eu/index.php?id=80175&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.backtolist"/></a> | <a href="https://www.esu22.eu/index.php?id=80173&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.timetable"/></a></p>
<f:flashMessages />
<h3><f:translate key="frab.speaker"/></h3>

<div class="grid-container">
	<div class="grid-x grid-margin-x small-up-2 medium-up-3">
		
			<f:for each="{persons}" as="person">
				<div class="cell">
					<div class="card">
						<img class="card-img-top" src="https://frab.attac.de/{person.image}" alt="{person.fullPublicName}">
						<div class="card-section">
							<h4 class="card-title">{person.fullPublicName}</h4>
							<p ><f:link.action action="show" class="btn btn-primary btn-xs" arguments="{personId:person.id}"><f:translate key="frab.speakerinfo"/></f:link.action></li></p>
						</div>
					</div>
				</div>
			</f:for>
		
	</div>
</div>

</f:section>
