<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<p><a href="https://www.ein-anderes-europa.de/index.php?id=76974" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Tagesansicht</a>  | <a href="https://www.ein-anderes-europa.de/index.php?id=76975" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Liste der Veranstaltungen</a>

<f:flashMessages />
<h3>Referent_Innen</h3>

<div class="card-columns">
		<f:for each="{persons}" as="person">
			<div class="card">
				<img class="card-img-top" src="https://frab.attac.de/{person.image}" alt="{person.fullPublicName}">
			    <div class="card-body">
			      <h5 class="card-title">{person.fullPublicName}</h5>
			      <p class="card-text"><f:link.action action="show" class="btn btn-primary btn-xs" arguments="{personId:person.id}">Infos und Veranstaltungen</f:link.action></li></p>
			    </div>
			</div>
		</f:for>
</div>

</f:section>
