<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<p><a href="https://www.esu22.eu/index.php?id=80172&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.listofreferents"/></a> | <a href="https://www.esu22.eu/index.php?id=80173&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.timetable"/></a></p>





<div class="grid-container">
	<div class="grid-x grid-margin-x small-up-2 medium-up-3">

		<div class="cell">
			<div class="card">
				<img class="card-img-top" src="https://frab.attac.de/{person.image}" alt="{person.fullPublicName}">
				<div class="card-section">
					<h4>{person.fullPublicName}</h4>
				</div>
		    </div>
		</div>
		<div class="cell">
			<div class="card">
				<div class="card-section">
					<p>{person.description}</p>
				</div>
		    </div>
		</div>
		<f:render partial="Person/Properties" arguments="{person:person}" />
	</div>
</div>





<button type="button" class="btn btn-primary btn-sm" onclick="goBack()"><f:translate key="frab.listofreferents"/></button>






</f:section>
