<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<p><a href="https://www.ein-anderes-europa.de/index.php?id=76975" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Liste aller Veranstaltungen</a> | <a href="https://www.ein-anderes-europa.de/index.php?id=76973" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Liste der ReferentInnen</a> | <a href="https://www.ein-anderes-europa.de/index.php?id=76974" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Tagesansicht</a>  </p>
<h2>Referent_innen Information</h2>
<div class="card-deck">

			<div class="card">
				<div class="card-header">{person.fullPublicName}</div>
				<img class="card-img-top" src="https://frab.attac.de/{person.image}" alt="{person.fullPublicName}">
			    <div class="card-body"><p>{person.description}</p>

			    </div>
			</div>

<f:render partial="Person/Properties" arguments="{person:person}" />


</div>
<br/>
<button type="button" class="btn btn-primary btn-sm" onclick="goBack()">Zurück zur Liste der Referent_innen</button>






</f:section>
