
<table class="tx-frab-integration" >
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_conference.title" />
		</td>
		<td>
		{conference.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_conference.start" />
		</td>
		<td>
		{conference.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_conference.end" />
		</td>
		<td>
		{conference.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_conference.days_count" />
		</td>
		<td>
		{conference.daysCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_conference.timeslot_duration" />
		</td>
		<td>
		{conference.timeslotDuration}
		</td>
	</tr>
</table>