
        <f:translate key="tx_frabintegration_domain_model_person.full_public_name" />

		<h1>{person.fullPublicName}</h1>

			<f:translate key="tx_frabintegration_domain_model_person.abstract" />
        <h1>Beschreibung</h1>
		<p>{person.abstract}

			<f:translate key="tx_frabintegration_domain_model_person.description" />

		{person.description}</p>

			<f:translate key="tx_frabintegration_domain_model_person.links" />
    <h1>Veranstaltungen mit {person.fullPublicName}</h1>
		{person.links}<p>
    <f:for each="{person.events}" as="event">
	   <li><f:link.action controller="Event" action="show" arguments="{eventGuid:event.guid}">{event.title}</f:link.action></li>
    </f:for></p>

