<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
    <div class="cell">
      <div class="card">
        <f:translate key="tx_frabintegration_domain_model_person.events"/>
      </div>
      <div class="card-section">
        <f:for each="{person.events}" as="event">
          <f:translate key="tx_frabintegration_domain_model_person.events"/> <f:translate key="frab.mit"/> {person.fullPublicName}:
	        <p>
            <f:link.action controller="Event" class="button small" action="show" arguments="{eventGuid:event.guid}">{event.title}</f:link.action>
          </p>
        </f:for>
      </div>
    </div>





