
<table class="tx-frab-integration" >
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_person.image" />
		</td>
		<td>
		{person.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_person.full_public_name" />
		</td>
		<td>
		{person.fullPublicName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_person.abstract" />
		</td>
		<td>
		{person.abstract}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_person.description" />
		</td>
		<td>
		{person.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_frabintegration_domain_model_person.links" />
		</td>
		<td>
		{person.links}
		</td>
	</tr>
</table>