div.tx-frab-integration div.news.single.row div.span8 table {
border: none;
}

div.tx-frab-integration div.news.single.row div.span8 table
td  {
border: none;
}

div.tx-frab-integration div.news.single.row div.span8 table thead tr th {
	border: none;
	border-left: 1px solid #000000;

	
}



div.scrollable { 
    width: 800px; 
    overflow-x:scroll;  
    margin-left:5em; 
    overflow-y:visible;
    padding-bottom:5px;
}
.headcol {
    position:absolute; 
    left:400px;
    top:auto;
    border-right: 0px none black; 
    border-top-width:3px; /*only relevant for first row*/
    margin-top:-3px; /*compensate for top border*/
}

div.scrollable table.scrollable tbody tr td.event-03-00  {
	background-color: white;
	border: 1px solid #000000;
}


div.scrollable table.scrollable tbody tr td.event-01-30 {
	background-color: white;
	border: 1px solid #000000;	
}

div.scrollable table.scrollable thead tr th {
		background-color: white;
		border: 1px solid #000000;
}