<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<f:flashMessages />


<table>
	<thead>
	  <tr>
		<th><f:translate key="tx_frabintegration_domain_model_event.date"/></th>
			<th><f:translate key="tx_frabintegration_domain_model_event.duration"/></th>
		<th><f:translate key="tx_frabintegration_domain_model_event.title"/></th>
		<th><f:translate key="frab.room"/></th>
		<th><f:translate key="frab.more"/></th>
	  </tr>
	</thead>
	<tbody>


		<f:for each="{events}" as="event">
			<tr>
				<td>{event.date  -> f:format.date(format:'d.m - H:i')}</td>
				<td>{event.duration -> f:format.date(format:'H:i')}</td>
				<td>{event.title}</td>
				<td>{event.room.name}</td>
				<td><f:link.action controller="Event" class="button tiny" action="show" arguments="{eventGuid:event.guid}"><f:translate key="frab.more"/></f:link.action></td>
			</tr>
		</f:for>

	</tbody>
</table>



</f:section>
