<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<p><a href="https://www.ein-anderes-europa.de/index.php?id=76975" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Liste aller Veranstaltungen</a> | <a href="https://www.ein-anderes-europa.de/index.php?id=76973" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Liste der ReferentInnen</a> | <button type="button" class="btn btn-primary btn-sm" onclick="goBack()">Zurück zur Tagesübersicht</button></p>
<div>
    <div class="span11">
        <div class="news_teaser"><h2>{event.title}</h2></div>
       <!-- <b>Kurzbeschreibung</b>
        <div>{event.subtitle}</div>-->
		<!-- <div class="card">
			<div class="card-header">
				Beschreibung
  			</div>
  			<div class="card-body">
  				<p class="card-text">{event.abstract ->f:format.html()}</p>
  			</div>
		</div>
		<br/>-->
		<div class="card">
			<div class="card-header">
				Beschreibung
  			</div>
  			<div class="card-body">
  				<p class="card-text">{event.description ->f:format.html()}</p>
  			</div>
		</div>




 <br/>
        <button type="button" class="btn btn-primary btn-sm" onclick="goBack()">Zurück</button>

        <script>
            function goBack() {
            window.history.back();
            }
        </script>
</div><!-- span8 -->
 <br/>
	<div class="card-group">
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Themenstrang</h5>
	      <p class="card-text">{event.track}</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Beginn</h5>
	      <p class="card-text">{event.date  -> f:format.date(format:'d.m Y')} um {event.start -> f:format.date(format:'H:i')} Uhr</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Länge der Veranstaltung</h5>
	      <p class="card-text">{event.duration -> f:format.date(format:'H:i')} h</p>
	    </div>
	  </div>
	</div>

	<div class="card-group">
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Veranstaltungstyp</h5>
	      <p class="card-text">{event.type}</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Raum</h5>
	      <p class="card-text">{event.room}</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
		    <f:for each="{event.persons}" as="person">
				<h5 class="card-title">Referent_in</h5>
				<p class="card-text"><f:link.action controller="Person" action="show" arguments="{personId:person.id}">{person.fullPublicName}</f:link.action></p>
			</f:for>

	    </div>
	  </div>
	</div>



</f:section>
