<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<p><a href="https://www.esu22.eu/index.php?id=80175&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.backtolist"/></a> | <a href="https://www.esu22.eu/index.php?id=80172&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.listofreferents"/></a> | <a href="https://www.esu22.eu/index.php?id=80173&<f:translate key='frab.langcode'/>" class="button" role="button" aria-pressed="true"><f:translate key="frab.timetable"/></a></p>

<h2>{event.title}</h2>
       <!-- <b>Kurzbeschreibung</b>
        <div>{event.subtitle}</div>-->
		<!-- <div class="card">
			<div class="card-header">
				Beschreibung
  			</div>
  			<div class="card-body">
  				<p class="card-text">{event.abstract ->f:format.html()}</p>
  			</div>
		</div>
		<br/>-->
		<div class="card">
			<div class="card-header">
				Beschreibung
  			</div>
  			<div class="card-body">
  				<p class="card-text">{event.description ->f:format.html()}</p>
  			</div>
		</div>




 <br/>
        <button type="button" class="btn btn-primary btn-sm" onclick="goBack()"><f:translate key="frab.back"/></button>

        <script>
            function goBack() {
            window.history.back();
            }
        </script>

 <br/>
 <div class="grid-container">
	<div class="grid-x grid-margin-x small-up-2 medium-up-3">
	  <div class="cell">
		<div class="card">

		  <div class="card-section">
			<h4><f:translate key="frab.track"/></h4>
			<p>{event.track}</p>
		  </div>
		</div>
	  </div>
	  <div class="cell">
		<div class="card">

		  <div class="card-section">
			<h4><f:translate key="frab.start"/></h4>
			<p>{event.date  -> f:format.date(format:'d.m Y')} <f:translate key="frab.at"/> {event.start -> f:format.date(format:'H:i')} <f:translate key="frab.h"/></p>
		  </div>
		</div>
	  </div>
	  <div class="cell">
		<div class="card">

		  <div class="card-section">
			<h4><f:translate key="frab.duration"/></h4>
			<p>{event.duration -> f:format.date(format:'H:i')} <f:translate key="frab.h"/></p>
		  </div>
		</div>
	  </div>
	</div>

  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
	<div class="cell">
	  <div class="card">

		<div class="card-section">
		  <h4><f:translate key="frab.eventtype"/></h4>
		  <p>{event.type}</p>
		</div>
	  </div>
	</div>
	<div class="cell">
	  <div class="card">

		<div class="card-section">
		  <h4><f:translate key="frab.speaker"/></h4>
			<f:for each="{event.persons}" as="person">
				<p><f:link.action controller="Person" class="button small" action="show" arguments="{personId:person.id}">{person.fullPublicName}</f:link.action></p>
			</f:for>
		</div>
	  </div>
	</div>
	<div class="cell">
	  <div class="card">

		<div class="card-section">
		  <h4><f:translate key="frab.room"/></h4>
		  <p>{event.room}</p>
		</div>
	  </div>
	</div></div>
  </div>




</f:section>
