
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages renderMode="div" />
<div class="news single row"> 
    <div class="span8">
        <div class="news_teaser"><h1>{event.title}</h1></div>
       <!-- <b>Kurzbeschreibung</b>
        <div>{event.subtitle}</div>-->
        <b>Beschreibung</b>	
        <div>{event.abstract ->f:format.html()}</div>

        <b>Weitere Informationen</b>
        <div>{event.description ->f:format.html()}</div>	
 
        <button class="btn" onclick="goBack()">Zurück</button>

        <script>
            function goBack() {
            window.history.back();
            }
        </script>

    </div><!-- span8 -->
    
    <div class="span4">
        <div id="news-more">
        
            <div class="infobox fair">
                <h2>Themenstrang</h2>
                <p>{event.track}</p>
            </div>
            
            <div class="infobox dark">
                <h2>Beginn</h2>
                <p>{event.date  -> f:format.date(format:'d.m Y')} um {event.start -> f:format.date(format:'H:i')} Uhr</p>
            </div>
        
            <div class="infobox dark">
                <h2>Länge der Veranstaltung</h2>					
                <p>{event.duration -> f:format.date(format:'H:i')} h</p>
            </div>
            
            <!--<b>Sprache</b>
            <div>{event.language}</div>-->
        
            <div class="infobox dark">
                <h2>Veranstaltungstyp</h2>
                <p>{event.type}</p>
            </div>
            
            <div class="infobox dark">    
                <h2>Raum</h2>
                <p>{event.room}</p>
            </div>
            <f:for each="{event.persons}" as="person">
				<li><f:link.action controller="Person" action="show" arguments="{personId:person.id}">{person.fullPublicName}</f:link.action></li>
			</f:for>
        </div>
    </div><!-- span4 -->
</div>

</f:section>