
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<f:flashMessages renderMode="div" />



	<f:for each="{conferences}" as="conference">

<div class="news single row"> 
<div class="span8">

	<h1>Veranstaltungen auf der {conference.title}</h1>

		<!--<h1>Veranstaltungstage</h1>-->
		<f:for each="{conference.days}" as="day">
			<h2>Tag {day.index} – {day.date -> f:format.date(format:'l, d.m.Y')}</h2>
			<!--<div>
				<div>Datum: {day.date -> f:format.date()}</div>
				<div>Beginn: {day.dayStart -> f:format.date(format:'Y-m-d H:i')}</div>
				<div>Ende: {day.dayEnd -> f:format.date(format:'Y-m-d H:i')}</div>
			</div>-->
			
			<!--<h3>Räume</h3>-->
			<f:for each="{day.rooms}" as="room">
				<!--<h4>{room.name}</h4>-->
				<h5>Veranstaltungen</h5>
				<ul>
				<f:for each="{room.events}" as="event">
					<li><f:link.action controller="Event" action="show" arguments="{eventGuid:event.guid}">{event.title}</f:link.action></li>
				</f:for>
				</ul>
			</f:for>
		</f:for>
		</div><!-- span8 -->
	


<div class="span4">
    <div id="news-more">

		<div class="infobox fair">
			<h2>{conference.title}</h2>
			<p>{conference.start -> f:format.date(format:'l, d.m.Y')} bis {conference.end -> f:format.date(format:'l, d.m.Y')}</p>
		</div>
		    
    </div>
</div><!-- span4 -->
</f:for>
</div>

</f:section>