<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:u="http://typo3.org/ns/Undkonsorten/FrabIntegration/ViewHelpers"
			data-namespace-typo3-fluid="true">
{namespace u= Eike\FrabIntegration\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="frab-scheduler">

<f:flashMessages />
	<f:for each="{conferences}" as="conference">


		<nav aria-label="Tagesmenue">
		<ul class="pagination pagination-lg">
			<f:for each="{conference.days}" as="day" iteration="iterator">
					<f:if condition="{day.index}=={currentDay}">
					<f:then>
						<li class="page-item active"><f:link.action action="shedule" class="button" arguments="{currentDay: day.index}">Tag {iterator.cycle}</f:link.action></li>
					</f:then>
					<f:else>
						<li class="page-item"><f:link.action action="shedule" class="page-link" arguments="{currentDay: day.index}">Tag {iterator.cycle}</f:link.action></li>
					</f:else>
					</f:if>

			</f:for>
		</ul>
		</nav>
		<div class="alert alert-success" role="alert">
Bitte die entsprechenden Tage auswählen. Alle Veranstaltungen des Tages erscheinen dann in unserer Programmtabelle. Diese lässt sich vertikal und horizontal Scrollen. Benutzen Sie dafür ihr Mausrad, die Scrollbalken ihres Browsers oder unsere Buttons links und rechts über der Programmtabelle.
		</div>

		<div class="sticky-controls btn-group btn-group-lg" role="group" aria-label="Large button group">
			<button type="button" class="btn btn-secondary btn-success left pull-left">«</button><button type="button" class="btn btn-secondary btn-success right pull-right">»</button>
		</div>
		<div class="scrollable">
		<table class="scheduler-table display dataTable no-footer" id="example">
		<f:for each="{conference.days}" as="day">
			<f:if condition="{day.index} == {currentDay}">
				<thead>
				<tr>
				<th>Zeit</th>
				<f:for each="{day.rooms}" as="room">
					<f:if condition="{room.events}">
					<th>{room.name}</th>
					</f:if>
				</f:for>
				</tr>
				</thead>
				<tbody>
				<f:for each="{timeline}" as="timeSlot">
					<tr>
					<th>{timeSlot -> f:format.date(format:'H:i')}</th>
					<f:for each="{day.rooms}" as="room">
						<f:if condition="{room.events}">
							<f:for each="{room.events}" as="event" iteration="iterator">
								<f:if condition="{f:format.date(date:event.start, format:'H:i')} == {f:format.date(date:timeSlot, format:'H:i')}">
									<f:then>
										<td rowspan="<u:rowspan duration='{event.duration}'/>" class="event-{f:format.date(date:event.duration, format:'H-i')}">
											<f:link.action controller="Event" action="show" arguments="{eventGuid:event.guid}">{event.title}</f:link.action>
										</td>
									</f:then>
									<f:else>
										<f:if condition="{iterator.index} == 0">
											<f:then>
													<td></td>
											</f:then>
										</f:if>
									</f:else>
								</f:if>
							</f:for>
	  					</f:if>
  					</f:for>
  					</tr>
				</f:for>
				</tbody>
			</f:if>
		</f:for>
	</table>
	</div>
</f:for>
</div>
</f:section>
